.main-header-wrapper{
    height: 50px;
    padding: 0 15px;
}
.main-ctx-wrapper{
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow: hidden;
    background-color: var(--layout-bg);
    border-radius: 20px 20px 0 0;
}
// ::-webkit-scrollbar{
//     display: none !important;
// }
.main-ctx-wrapper{
    display: flex;
    .sidebar-main{
        min-width: 250px;
        width: 250px;
        max-width: 250px;
        min-height: calc(100vh - 50px );
        height: calc(100vh - 50px );
        max-height: calc(100vh - 50px );
        overflow-y: scroll;
        background-color: var(--sidebar-bg);        
        border-right: 1px solid var(--light-border);
    }
    .content-main{
        min-width: calc(100vw - 250px );
        width: calc(100vw - 250px );
        max-width: calc(100vw - 250px );
        min-height: calc(100vh - 50px );
        height: calc(100vh - 50px );
        max-height: calc(100vh - 50px );
        
        .content-main-inner{
            padding: 15px;
            max-height: calc(100vh - 50px);
            height: calc(100vh - 50px);
            min-height: calc(100vh - 50px);
            overflow-y: scroll;
        }
    }
}
@media(max-width : 992px){
    .sidebar-main{
        position: fixed;
        border-radius: 20px 0 0 0 !important;
        overflow: hidden;
        top: 50px;
        left: -350px;
        z-index: 99 !important;
        transition: all 0.5s;

        &.show{
            left: 0 !important;
        }
    }
    .content-main{
        min-width: 100vw !important;
        width: 100vw !important;
        max-width: 100vw !important;
    }
}