<app-breadcrumb [pageName]="sharedservice.pageName" [icon]="sharedservice.pageDetail?.icon" />
<app-page-data-count [totalCount]="totalCount" [filteredCount]="dataList.length" />
<div class="page-top-main">
    <div class="page-top-search-main d-flex">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTxt" (keyup.enter)="filterData()" />
        <button type="button" class="square-btn site-btn primary-color ms-1" [appBtnLoading]="isSearchLoading" [disabled]="isSearchLoading || isListLoading" (click)="filterData()"><i
                class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    @if(sharedservice.isPageInsert){
        <div class="page-top-btns-main d-flex justify-content-end">
            <button class="site-btn dark-color ms-1" (click)="addUpdateData(false)">
                <div class="site-btn-icon"><i class="fa-solid fa-plus"></i></div>
                Create
            </button>
        </div>
    }
</div>

@if(dataList.length > 0 && !isTechnicalIssue){
<div class="page-table-main" [class.is-list-loading]="isListLoading">
    <div class="table-responsive">
        <table class="table table-bordered text-nowrap mb-0">
            <thead>
                <tr>
                    <th class="sr-th">Sr No.</th>
                    <th>Name</th>
                    @if(sharedservice.isPageUpdate){
                        <th>Permission</th>
                    }
                    @if(sharedservice.isPageUpdate || sharedservice.isPageDelete){
                    <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(item of dataList | paginate: { itemsPerPage: limit, currentPage: page , totalItems : totalCount}; track
                item;let i=$index){
                <tr>
                    <td class="sr-no-td">{{(i+1)}}</td>
                    <td>{{item.roleName}}</td>
                    @if(sharedservice.isPageUpdate || sharedservice.isPageDelete){
                        <td>
                            <div class="table-btns-main">
                                @if(sharedservice.isPageUpdate){
                                    <button [ngbTooltip]="'Update Permission'" (click)="updateRolePermission(item)" class="table-single-btn primary"><i class="fa-solid fa-dice"></i></button>
                                }
                            </div>
                        </td>
                    }
                    @if(sharedservice.isPageUpdate || sharedservice.isPageDelete){
                        <td>
                            <div class="table-btns-main">
                                @if(sharedservice.isPageUpdate){
                                    <button [ngbTooltip]="'Update Data'" class="table-single-btn primary" (click)="addUpdateData(true,item)"><i class="fa-solid fa-pencil"></i></button>
                                }
                                @if(sharedservice.isPageDelete){
                                    <button [ngbTooltip]="'Delete Data'" class="table-single-btn red ms-1" [appBtnLoading]="isBtnLoading('delete', item.pageId)" (click)="deleteData(item.pageId)"><i class="fa-solid fa-trash-can"></i></button>
                                }
                            </div>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="main-pagination">
        <div class="data-limit-main">
            <select class="form-select" [(ngModel)]="limit" [disabled]="isListLoading" (ngModelChange)="onLimitChange()">
                <option [value]="10">10</option>
                <option [value]="30">30</option>
                <option [value]="50">50</option>
                <option [value]="100">100</option>
                <option [value]="500">500</option>
            </select>
        </div>
        <div class="pagination-inner">
            <pagination-controls (pageChange)="onPageChange($event)" />
        </div>
    </div>
</div>
} @else if(isTechnicalIssue || hasEverLoaded || !isListLoading) {
    <div class="no-data-found-main">
        <div class="no-data-found-img">
            @if(isTechnicalIssue){
                <img src="../../../assets/img/technical-issue.png" alt="">
            }@else {
                <img src="../../../assets/img/no-data.png" alt="">
            }
        </div>
        @if(isTechnicalIssue){
            <div class="no-data-found-ttl">We Found Some Technical Issues in Our System</div>
        }@else {
            <div class="no-data-found-ttl">No Record Found!</div>
        }
        @if(isTechnicalIssue){
            <div class="no-data-found-ctx">
                Currently we're working on the Issue please try again later.
            </div>
            <button class="site-btn primary-color" routerLink="/dashboard">Go to Dashboard</button>
        }@else {
            <div class="no-data-found-ctx">
                You don't currently have any Record.
                @if(sharedservice.isPageInsert){
                Create a new Record by clicking the button below.
                }
            </div>
            @if(sharedservice.isPageInsert){
            <button class="site-btn primary-color" (click)="addUpdateData(false)"><span
                    class="site-btn-icon"><i class="fa-solid fa-plus"></i></span> Create</button>
            }
        }
    </div>
}