<main>
    <div class="delete-popup-main">
        <div class="delete-popup-icon">
            <i class="fa-light fa-circle-exclamation"></i>
        </div>
        <div class="delete-popup-ttl">Are you sure?</div>
        <div class="delete-popup-dtl">You want to delete this record!</div>
        <div class="delete-popup-btns-main">
            <button class="delete-popup-single-btn cancel me-1" (click)="activeModal.close()">Cancel</button>
            <button class="delete-popup-single-btn yes" (click)="activeModal.close(true)">Yes Delete!</button>
        </div>
    </div>
</main>