<main>
    <div class="popup-main">
        <div class="popup-head">
            <div class="popup-head-ttl">Image Preview</div>
            <div class="popup-head-btn">
                <button (click)="activeModal.close()"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="popup-body">
            <div class="uploaded-img-main">
                <img [src]="data" alt="image" />
            </div>
        </div>
        <div class="popup-footer">
            <button type="button" class="site-btn grey-color" (click)="activeModal.close()">Close</button>
        </div>
    </div>
</main>