<main>
    <div class="popup-main">
        <div class="popup-head">
            <div class="popup-head-ttl">{{isEdit ? 'Update' : 'Create'}} FAQ</div>
            <div class="popup-head-btn">
                <button (click)="activeModal.close()"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="popup-body">
            <div class="row m-0 p-0">
                <div class="col-12 mb-2">
                    <div class="form-inp-main">
                        <label class="form-label">Title</label>
                            <input class="form-control" type="text" placeholder="Enter Title" [(ngModel)]="dataReqModel.title" />
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="form-inp-main">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" placeholder="Enter Description" [(ngModel)]="dataReqModel.description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <button type="button" class="site-btn grey-color" (click)="activeModal.close()" [disabled]="isSaving">Close</button>
            <button type="button" class="site-btn primary-color ms-1" (click)="validateData()" [appBtnLoading]="isSaving" [disabled]="isSaving">
                <span class="site-btn-icon"><i class="fa-solid fa-check"></i></span>
                {{isEdit ? 'Update' : 'Create'}}
            </button>
        </div>
    </div>
</main>