<div class="table-skeleton-main">
    <table class="table m-0">
        <thead>
            <tr>
                <th>
                    <div class="table-skeleton-box th"></div>
                </th>
                <th>
                    <div class="table-skeleton-box th"></div>
                </th>
                <th>
                    <div class="table-skeleton-box th"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            @for(item of [1,2,3,4,5,6,7,8,9,10]; track item;let i=$index){
            <tr>
                <td>
                    <div class="table-skeleton-box td"></div>
                </td>
                <td>
                    <div class="table-skeleton-box td"></div>
                </td>
                <td>
                    <div class="table-skeleton-box td"></div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>