<app-breadcrumb [pageName]="sharedservice.pageName" [icon]="sharedservice.pageDetail?.icon" />
@if(isDataLoaded){
    <div class="page-table-ttl">
        Site Setting
    </div>
    <div class="page-table-main">
        <div class="row m-0 p-0">
            <div class="col-lg-4 col-12 mb-2">
                <div class="uploaded-img-main uploaded-img-main--dark">
                    @if(siteConfig.white_logo){
                        <img [src]="siteConfig.white_logo" alt="white logo" class="uploaded-img" />
                    }
                </div>
                <div class="form-inp-main">
                    <label class="form-label">White Logo — for dark backgrounds (500 x 150)</label>
                    <input class="form-control" name="#white-logo" type="file" (change)="uploadWhiteLogo($event)">
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-2">
                <div class="uploaded-img-main">
                    @if(siteConfig.logo){
                        <img [src]="siteConfig.logo" alt="logo" class="uploaded-img" />
                    }
                </div>
                <div class="form-inp-main">
                    <label class="form-label">Logo — for light backgrounds (500 x 150)</label>
                    <input class="form-control" name="#logo" type="file" (change)="uploadImage($event)">
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-2">
                <div class="uploaded-img-main">
                    @if(siteConfig.icon){
                        <img [src]="siteConfig.icon" alt="icon" class="uploaded-img" />
                    }
                </div>
                <div class="form-inp-main">
                    <label class="form-label">Icon (512 x 512)</label>
                    <input class="form-control" name="#0" type="file" (change)="uploadIcon($event)">
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Name</label>
                        <input class="form-control" type="text" placeholder="Enter Name" [(ngModel)]="siteConfig.siteName" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Theme</label>
                        <select class="form-select" [(ngModel)]="siteConfig.theme">
                            <option [value]="null" [disabled]="true">-- Select Theme --</option>
                            <option [value]="'Default'">Default</option>
                            <option [value]="'Winter'">Winter</option>
                            <option [value]="'Summer'">Summer</option>
                            <option [value]="'Monsoon'">Monsoon</option>
                            <option [value]="'Indian'">Indian</option>
                            <option [value]="'Diwali'">Diwali</option>
                            <option [value]="'Christmas'">Christmas</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Email</label>
                        <input class="form-control" type="text" placeholder="Enter Email" [(ngModel)]="siteConfig.email" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Mobile</label>
                        <input class="form-control" type="number" OnlyNumber placeholder="Enter Mobile" [(ngModel)]="siteConfig.mobile" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Parent Company</label>
                        <input class="form-control" type="text" placeholder="Enter Parent Company" [(ngModel)]="siteConfig.parentCompany" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Version</label>
                        <input class="form-control" type="text" placeholder="Enter Version" [(ngModel)]="siteConfig.version" />
                </div>
            </div>            
        </div>
    </div>
    <div class="page-table-ttl">
        Store Configurations
    </div>
    <div class="page-table-main">
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Store Base URL</label>
                        <input class="form-control" type="text" placeholder="Enter Store Base URL" [(ngModel)]="siteConfig.storeBaseUrl" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Store CNAME</label>
                        <input class="form-control" type="text" placeholder="Enter Store CNAME" [(ngModel)]="siteConfig.cnameDomain" />
                </div>
            </div>
        </div>
    </div>
    <div class="page-table-ttl">
        Social Media
    </div>
    <div class="page-table-main">
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Instagram URL</label>
                        <input class="form-control" type="text" placeholder="Enter Instagram URL" [(ngModel)]="siteConfig.instagramURL" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Facebook URL</label>
                        <input class="form-control" type="text" placeholder="Enter Facebook URL" [(ngModel)]="siteConfig.facebookURL" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Twitter URL</label>
                        <input class="form-control" type="text" placeholder="Enter Twitter URL" [(ngModel)]="siteConfig.twitterURL" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Linkedin URL</label>
                        <input class="form-control" type="text" placeholder="Enter Linkedin URL" [(ngModel)]="siteConfig.linkedInURL" />
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main">
                    <label class="form-label">Youtube URL</label>
                        <input class="form-control" type="text" placeholder="Enter Youtube URL" [(ngModel)]="siteConfig.youtubeURL" />
                </div>
            </div>
        </div>
    </div>
    <div class="page-table-ttl">
        Authorizations
    </div>
    <div class="page-table-main">
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-12 mb-2">
                <div class="form-inp-main toggle-main">
                    <label class="form-label">Enable Store Registration</label>
                     <div>
                        <div class="toggle-switch mt-1">
                            <input class="toggle-input" id="toggle" type="checkbox" [(ngModel)]="siteConfig.enableStoreRegister">
                            <label class="toggle-label" for="toggle"></label>
                          </div>                
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
        <button type="button" class="site-btn primary-color ms-1" (click)="updateSiteConfig()" [appBtnLoading]="isSaving" [disabled]="isSaving">
            <span class="site-btn-icon"><i class="fa-solid fa-check"></i></span>
            Update
        </button>
    </div>
}