<main>
    <div class="popup-main">
        <div class="popup-head">
            <div class="popup-head-ttl">Location Preview (Security Purpose)</div>
            <div class="popup-head-btn">
                <button (click)="activeModal.close()"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="popup-body">
            <div id="map" style="height: 300px;"></div>
        </div>
        <div class="popup-footer">
            <button type="button" class="site-btn grey-color" (click)="activeModal.close()">Close</button>
        </div>
    </div>
</main>