.main-breadcrumb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--light-border);

    .breadcrumb-ttl{
        color: var(--primary);
        font-size: 20px;
        font-weight: 700;
    }

    .breadcrumb-icon{
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: var(--sidebar-bg);
        color: var(--secondary);
        font-size: 12px;
    }
}