<main>
    <div class="popup-main">
        <div class="popup-head">
            <div class="popup-head-ttl">Store's Users</div>
            <div class="popup-head-btn">
                <button (click)="activeModal.close()"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="popup-body">
            <div class="d-flex justify-content-end mb-2">
                <button class="site-btn dark-color" (click)="addUpdateData(false)">
                    <div class="site-btn-icon"><i class="fa-solid fa-plus"></i></div>
                    Create
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-nowrap mb-0">
                    <thead>
                        <tr>
                            <th class="sr-th">Sr No.</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Store</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of usersList | paginate: { itemsPerPage: limit, currentPage: page}; track item;let i=$index){
                        <tr>
                            <td class="sr-no-td">{{(i+1)}}</td>
                            <td>{{item.name}}</td>
                            <td>+91 {{item.mobile}} </td>
                            <td>{{item.email}}</td>
                            <td>••••••••• <span [ngbTooltip]="'Copy Password ('+item.password+')'" (click)="sharedservice.copyText(item.password)" class="text-side-icon"><i class="fa-light fa-copy"></i></span></td>
                            <td>{{item.storeName}}</td>
                            <td>
                                <div class="table-btns-main">
                                    <button [ngbTooltip]="'Update Data'" class="table-single-btn primary" (click)="addUpdateData(true, item)"><i class="fa-solid fa-pencil"></i></button>
                                    <button [ngbTooltip]="'Delete Data'" class="table-single-btn red ms-1" (click)="deleteData(item.id)"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                            </td>
                        </tr>
                        }@empty {
                            <tr>
                                <td colspan="7" class="text-center">
                                    No Data Found !
                                    <div class="mt-2">
                                        <button class="site-btn primary-color" (click)="addUpdateData(false)">
                                            <span class="site-btn-icon"><i class="fa-solid fa-plus"></i></span> Create
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="main-pagination">
                <div class="data-limit-main">
                    <select class="form-select" [(ngModel)]="limit">
                        <option [value]="10">10</option>
                        <option [value]="30">30</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                        <option [value]="500">500</option>
                    </select>
                </div>
                <div class="pagination-inner">
                    <pagination-controls (pageChange)="page = $event;" />
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <button type="button" class="site-btn grey-color" (click)="activeModal.close()">Close</button>
        </div>
    </div>
</main>