.data-count-main{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--light-border);

    .single-data-count{
        width: 100%;
        padding: 0 20px;
        position: relative;

        &.side-border{
            border-right: 1px solid var(--light-border);
        }
        
        .single-data-ttl{
            font-size: 13px;
            font-weight: 600;
            color: var(--heading-font);
            position: relative;
            text-decoration: dotted;
            width: max-content;
            margin-bottom: 5px;

            &:after{
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                border-top: 3px dotted var(--light-border);
            }
        }
        .single-data-val{
            font-size: 14px;
            font-weight: 700;
            color: var(--primary);
        }

        &:after{
            position: absolute;
            content: '';
            bottom: 10px;
            right: 10px;
            width: 30%;
            height: 5px;
            border-radius: 10px;
            opacity: 0.4;
            background-color: var(--secondary);
        }
    }
}
@media(max-width : 992px){
    .data-count-main{
        flex-wrap: wrap;
        .single-data-count{
            padding: 0 !important;
            &.side-border{
                border-right: none !important;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid var(--light-border);
            }
        }
    }
}